In [1]:
#Python is good for AI, and C/C++ is good for programming microcontrollers.
print("Hello, Axia Africa Student!")

Hello, Axia Africa Student!

In [1]:
#2. Comments
#Used to explain code (not executed).
# This is a single-line comment

In [2]:
#3. Variables
#Used to store values.
# name = "John"
age = 25

In [8]:
#To use a variable in a string, you can add it to the string, like this:
a = 'Magdalene'
print('My name is ' + a)

My name is Magdalene

In [10]:
#To use a variable in a string, you can add it to the string, like this:
i = 'Goroti'
print('My name is ' + i)

My name is Goroti

In [16]:
#If we want to decrement a variable, we can do that in a similar way as incrementing. And the number we want to decrement by can be any number, not just 1.
#The code below shows how to decrement a variable by 3 in different programming languages, using shorthand.
a=13
a-=17
print(a)

-4

In [17]:
#IF STATEMENT
#We want to use a variable in an if statement, as part of the condition, like this:
temperature = 25
print ('Temperature: ' + str(temperature) + '°C')

if temperature > 20:
 print('It is warm')
else: 
 print('It is not warm')

Temperature: 25°C
It is warm

In [18]:
#But usually, we also want to handle the case when the condition is not true, so we use an else statement for that.
age = 15
print('Age: ' + str(age))
if age > 17:
  print('You are an adult!')
else:
  print('You are not an adult yet.')

Age: 15
You are not an adult yet.

In [19]:
#We can also use else if to check more than one condition, so that we get more than two outcomes.

age = 15
print('Age: ' + str(age))

if age < 13:
  print('You are a child')
elif age < 20:
  print('You are a teenager')
else:
  print('You are an adult')

Age: 15
You are a teenager

In [21]:
#A nested if statement is an if statement inside another if statement.
#Nested if statements are useful in cases where you want to check a condition, only if another condition is true.

age = 19
print('Age: ' + str(age))

if age < 13:
  print('You are a child')
elif age < 20:
  print('You are a teenager')
  if age > 17:
    print('and an adult!') 
else:
  print('You are an adult')

Age: 19
You are a teenager
and an adult!

In [22]:
#a. Integer (int)
#Used to store whole numbers (no decimals).
age = 25
print(age)       # Output: 25
print(type(age)) # Output: <class 'int'>

25
<class 'int'>

In [23]:
#b. Float (float)
#Used to store numbers with decimal points.
height = 5.9
print(height)       # Output: 5.9
print(type(height)) # Output: <class 'float'>

5.9
<class 'float'>

In [24]:
#2. String (str)
#A sequence of characters enclosed in single (') or double (") quotes.
name = "Goroti"
greeting = 'Welcome to Data Analytics!'
print(name)        # Output: Goroti
print(type(name))  # Output: <class 'str'>

Goroti
<class 'str'>

In [25]:
#3. Boolean (bool)
#Stores either True or False, often used in comparisons.
# Comparison Example
print(10 > 5)            # Output: True

True

In [26]:
#4. Sequence Types
#Used to store multiple items in an ordered way.
#a. List (list) – Mutable (changeable)
fruits = ["apple", "banana", "cherry"]
fruits[1] = "orange"
print(fruits)       # Output: ['apple', 'orange', 'cherry']
print(type(fruits)) # Output: <class 'list'>

['apple', 'orange', 'cherry']
<class 'list'>

In [27]:
#b. Tuple (tuple) – Immutable (unchangeable)
colors = ("red", "green", "blue")
# colors[0] = "yellow" → ❌ Error, can't change tuple
print(colors)       # Output: ('red', 'green', 'blue')
print(type(colors)) # Output: <class 'tuple'>

('red', 'green', 'blue')
<class 'tuple'>

In [28]:
#5. Dictionary (dict)
#Used to store key-value pairs.
student = {
    "name": "Magdalene",
    "age": 30,
    "course": "Data Analytics"
}
print(student["name"])      # Output: Magdalene
print(type(student))        # Output: <class 'dict'>

Magdalene
<class 'dict'>

In [30]:
#c. Range (range)
#Used to generate a sequence of numbers.
numbers = range(1, 9)
print(list(numbers))   # Output: [1, 2, 3, 4, 5, 6, 7, 8]
print(type(numbers))   # Output: <class 'range'>

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'range'>

In [31]:
def add_numbers(a, b):
    return a + b
result = add_numbers(5, 3)
print(result)   # Output: 8

8

In [32]:
#Python Operators
#Operators perform operations on variables and values. Python supports several types of operators:
#1. Arithmetic Operators
#These are used for basic mathematical operations.
#Examples:
a = 10
b = 3
print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.33
print(a % b)  # Modulus (remainder): 1
print(a ** b) # Exponentiation: 1000
print(a // b) # Floor Division: 3

13
7
30
3.3333333333333335
1
1000
3

In [33]:
#2. Assignment Operators
#Used to assign values to variables.
#Examples:
x = 5
x += 3  # x = x + 3 → 8
x *= 2  # x = x * 2 → 16

In [34]:
#3. Comparison Operators
#Used to compare values and return Boolean results.
#Examples:
x = 10
y = 20
print(x == y)  # False
print(x != y)  # True
print(x < y)   # True
print(x >= y)  # False

False
True
True
False

In [35]:
#4. Logical Operators
#Used to combine conditional statements.
#Examples:
x = 5
print(x > 2 and x < 10)  # True
print(x > 10 or x < 2)   # False
print(not(x > 10))       # True

True
False
True

In [36]:
#5. Membership Operators
#Used to test if a sequence contains a value.
#Examples:
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits)     # True
print("grape" not in fruits) # True

print(len("Hello"))        # Output : 5
print(abs(-10))            # Output : 10
print(sum([1, 2, 3, 4]))   # Output : 10
print(round (3.14159, 2))  # Output : 3.14
print(type(42))            # Output: <class 'int'>

True
True
5
10
10
3.14
<class 'int'>

In [ ]:
#Python Functions
#1. Built-in Functions
#Examples of built-in functions:
print("Hello World")     # Displays text
input("Enter name: ")   # Accepts user input
abs(-5)                  # Returns 5
len("Python")            # Returns 6
sum([1, 2, 3])           # Returns 6

Hello World

In [1]:
import numpy as np

In [6]:
from numpy import array      # import the array constructor itself
a=array([1, 2, 3])         # now you can call array() without np.
print(a)                     # [1 2 3]

[1 2 3]

In [8]:
import numpy as np
a = array([1, 2, 3, 4, 5])
print(a)

#OUTPUT: [1 2 3 4 5]
#This is a 1D array with five numbers.

[1 2 3 4 5]

In [11]:
#Add a Number to All Elements
print(a + 7)

#OUTPUT: [3 4 5 6 7]
#NumPy automatically adds 2 to every element in the array.

[ 8  9 10 11 12]

In [10]:
#3. Multiply All Elements
print(a * 3)
#OUTPUT: [3 6 9]
#Multiplies each number in the array by 3.

[ 3  6  9 12 15]

In [12]:
#4. Check Array Information
print(a.shape)   # Shape of the array
print(a.ndim)    # Number of dimensions
print(a.dtype)   # Data type

(5,)
1
int64

In [13]:
import numpy as np
a = np.arange(4)  # This creates: [0, 1, 2, 3]
print(a + 4)      # Adds 4 to each item

[4 5 6 7]

In [20]:
#Example 3 – Math between two arrays:
b = array([10, 20, 30, 40, 50])
print(a + b)

[13.3 24.5 31.2 45.7 50.3]

In [3]:
import numpy as np

a = np.array([3.3, 4.5, 1.2, 5.7, 0.3])
print(a.sum())

15.0

In [6]:
#Example 3 – Math between two arrays:
b = np.array([10, 20, 30, 40, 50])
print(a + b)

[13.3 24.5 31.2 45.7 50.3]

In [7]:
# Create an array with 5 decimal numbers
a = np.array([3.3, 4.5, 1.2, 5.7, 0.3])

# Pe
rform some basic aggregate operations:
print("Sum:", a.sum())       # Adds all numbers → 15.0
print("Minimum:", a.min())   # Smallest number → 0.3
print("Maximum:", a.max())   # Largest number → 5.7
print("Mean:", a.mean())     # Average → 3.0
print("Standard Deviation:", a.std())  # Spread → ~2.01

#a.sum() – adds all numbers in the array.
#a.min() – finds the smallest number.
#a.max() – finds the largest numb

Sum: 15.0
Minimum: 0.3
Maximum: 5.7
Mean: 3.0
Standard Deviation: 2.0079840636817816

In [21]:
#Think of a NumPy array like a row of boxes, each holding a number. Each box has a position number (index) starting from 0.
#For example:
import numpy as np
a = np.array([10, 11, 12, 13, 14, 15])

#INDEXING — Picking a Specific Box
#Just like choosing one box from the shelf.
#Example:
a[4]  # Picks the value at position 4

np.int64(14)

In [17]:
#Negative Indexing:
#You can also count from the end using negative numbers.
a[-1]  # Last item
# Output: 15

np.int64(15)

In [22]:
a[-6]  # First item
# Output: 10

np.int64(10)

In [23]:
#Picking Multiple Boxes:
#Use square brackets and list of indexes.
a[[1, 3, 4]]
# Output: array([11, 13, 14])

array([11, 13, 14])

In [24]:
#SLICING — Cutting Out a Section
#Slicing is like cutting a slice of bread  from a loaf.
#Example:
a[1:5]  # From index 1 to 4 (5 is not included)
# Output: array([11, 12, 13, 14])

array([11, 12, 13, 14])

In [7]:
# ITERATING — Going Through Every Item
# Iterating means checking each item one by one, like checking each student's name in a list.

import numpy as np  # import numpy library

a = np.array([10, 11, 12, 13, 14])  # define a NumPy array

for i in a:  # loop through each item in the array
    print(i)

10
11
12
13
14

In [8]:
# Slice from index 1 up to—but not including—index 5
slice1 = a[1:5]               # → [11 12 13 14]
print("a[1:5] :", slice1)

# Same slice but step by 2 (every second element)
slice2 = a[1:5:2]             # → [11 13]
print("a[1:5:2]:", slice2)

a[1:5] : [11 12 13 14]
a[1:5:2]: [11 13]

In [9]:
import numpy as np            # Import NumPy

# Create an array from 10 up to (but not including) 16
a = np.arange(10, 16)         # → [10 11 12 13 14 15]
print("Full array:", a)

# Slice from index 1 up to—but not including—index 5
slice1 = a[1:5]               # → [11 12 13 14]
print("a[1:5] :", slice1)

# Same slice but step by 2 (every second element)
slice2 = a[1:5:2]             # → [11 13]
print("a[1:5:2]:", slice2)

Full array: [10 11 12 13 14 15]
a[1:5] : [11 12 13 14]
a[1:5:2]: [11 13]

In [1]:
import pandas as pd
# Load a Excel file into a DataFrame
df = pd.read_excel("Car Inventory.xlsx")  # This file must be in your folder
# View first few rows
print(df.head())
 #pd.read_excel() is the read function to load excel files.

   Unnamed: 0    Make   Model   Color  Mileage  Price  Cost
0         NaN   Honda  Accord     Red    63512   4000  3000
1         NaN   Honda  Accord    Blue    95135   2500  2000
2         NaN   Honda  Accord  Silver   101354   2000  1500
3         NaN  Toyota   Camry   Black    75006   2198  1900
4         NaN  Nissan  Altima   Green    69847   3826  3000

In [2]:
students = pd.DataFrame({
    'Student': ['Alice', 'Bob', 'Charlie'],
    'Age': [20, 21, 22]
})

scores = pd.DataFrame({
    'Student': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 78]
})

merged = pd.merge(students, scores, on='Student')

print(merged)

   Student  Age  Score
0    Alice   20     85
1      Bob   21     90
2  Charlie   22     78

In [3]:
print(merged)
#Concatenating Data
#If you have two data tables with the same structure, and you want to stack them together, use concat().
data1 = pd.DataFrame({'Name': ['John', 'Mary'], 'Age': [25, 27]})
data2 = pd.DataFrame({'Name': ['James', 'Rita'], 'Age': [28, 30]})

combined = pd.concat([data1, data2])

print(combined)

   Student  Age  Score
0    Alice   20     85
1      Bob   21     90
2  Charlie   22     78
    Name  Age
0   John   25
1   Mary   27
0  James   28
1   Rita   30

In [4]:
#2. What is a DataFrame?
#A DataFrame is like an Excel spreadsheet or a table. It is 2-dimensional, meaning it has rows and columns.
#Real-Life Example:
#Let’s say you want to store student names, ages, and scores in a table:
data = {
    'Name': ['Alex', 'Ben'],
    'Age': [25, 26],
    'Gender': ['M', 'M']
}

students = pd.DataFrame(data)
print(students)

   Name  Age Gender
0  Alex   25      M
1   Ben   26      M

In [7]:
#1. Removing Duplicates
#Sometimes the same data gets entered more than once.
import pandas as pd
# Sample data with duplicates
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
    'Email': ['alice@example.com', 'bob@example.com', 'alice@example.com', 'charlie@example.com', 'bob@example.com']
}

df = pd.DataFrame(data)

print("Before Removing Duplicates:")
print(df)

Before Removing Duplicates:
      Name                Email
0    Alice    alice@example.com
1      Bob      bob@example.com
2    Alice    alice@example.com
3  Charlie  charlie@example.com
4      Bob      bob@example.com

In [8]:
# Remove duplicate rows
df_unique = df.drop_duplicates()

print("After Removing Duplicates:")
print(df_unique)

After Removing Duplicates:
      Name                Email
0    Alice    alice@example.com
1      Bob      bob@example.com
3  Charlie  charlie@example.com

In [9]:
#2. String Manipulation
#Let’s say you have full names in one column and want to:
#•Extract first names
#•Convert all names to title case (e.g. “john” → “John”)
data = {
    'FullName': ['john doe', 'MARY ANN', 'alice Smith']
}

df = pd.DataFrame(data)

In [10]:
# Convert to title case
df['FullName'] = df['FullName'].str.title()

# Split full name into first and last
df['FirstName'] = df['FullName'].str.split().str[0]
df['LastName'] = df['FullName'].str.split().str[1]

print(df)

      FullName FirstName LastName
0     John Doe      John      Doe
1     Mary Ann      Mary      Ann
2  Alice Smith     Alice    Smith